.LoginFirstBox {
    overflow-y: hidden;
    height: 100%;
}

.LoginFirstBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-size: medium;
    font-weight: bold;
}
  
.CloseButton {
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
    color: black;
}

.SignupLoginFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.SignupLoginFirst div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}