.PostContainer {
  background-color: gray;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 20px;
  margin-top: 0%;
  margin: 20px;
  padding: 20px;
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-name: Post;
  animation-duration: 1s;
}

@keyframes Post {
  0% {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* .RepostDetails{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
} */

.PosterDetails {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0%;
  font-size: large;
  font-weight: bolder;
  color: white;
}

.PosterDetails img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  padding: 5px;
}


.PostTitle {
  font-size: large;
  font-weight: bold;
  padding: 5px;
  text-align: left;
}

.PostMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PostMedia img {
  max-width: 600px;
  width: 90%;
  max-height: 300px;
  height: 45%;
  border: 2px solid black;
}

.UserInteractions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 15px; */
  width: 100%;
}

.UserInteractions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  margin-right: 10px;
}

.UserInteractions button:hover {
  text-decoration: underline;
}

.UserInteractions div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.UserInteractions span {
  margin-left: 5px;
}

.FiHeart,
.FcLike {
  color: #fff;
}

.UserInteractionsData {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}