.GroupDetails {
    position: fixed;
    top: 70px;
    background-color: black;
    color: beige;
    z-index: 10;
    width:100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.GroupDetails button{
    border: none;
    background: none;
    color: bisque;
}

.GroupDetails button:hover{
    color: cyan;
    cursor: pointer;
}

.GroupInsideDiv {
    margin-top: 90px;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    background-image: url(/src/assets/images/stars.jpg);
    background-size: cover;
    background-position: center;
    background-color: #04013a;
    background-blend-mode: hard-light;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}