.DemoPageDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.LeftWala {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.UserDetails {
    border: 2px solid yellow;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logout {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral; /* Add your desired background color */
    cursor: pointer;
}

.Links {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Links div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue; /* Add your desired background color */
    cursor: pointer;
}

.RightWala {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.NavBar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    opacity: 0.95;
    height: 10%;
}

.NavBar img{
    position: absolute;
    left: 0;
    height: 100%;
}


.UserDetails img {
    width: 130px;
    height: 130px; 
    border-radius: 50%;
    position: relative;
    padding: 5px;
}



.PostsFeedDiv {
    margin-top: 10%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}