/* SignupLoginPage.css */

.SLPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/images/HomepageBackground.png);
  background-size: cover;
  background-position: center;
  background-color: #04013a;
  background-blend-mode: hard-light;
}

.MainBox {
  background-color: rgba(15, 15, 15, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.TitleText img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.SignupLogin {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  gap: 10px;
}

.Button_Guest {
  background: none;
  color: white;
  border: none;
  font-size: medium;
  margin-top: 20px;
}

.Button_Guest :hover{
  color: aqua;
  cursor: pointer;
}

/* .PopupButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.PopupButton:hover {
  background-color: #2980b9;
} */

/* .PopupBox {
  background-color: #242020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */


/* .Form {
  display: flex;
  flex-direction: column;
} */

/* .Label {
  margin-bottom: 10px;
} */

/* .Input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */
